@include keyframes(bumpRight){
	0%{
		transform: translateX(0%); opacity: 1;
	}
	50%{
		transform: translateX(700%); opacity: 1;
	}
	51%{
		transform: translateX(700%); opacity: 0;
	}
	52%{
		transform: translateX(-500%); opacity: 0;
	}
	100%{
		transform: translateX(0%); opacity: 1;
	}
}
@include keyframes(bumpIn){
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.6);
	}
	60%{
		transform: scale(1.4);
	}
	100%{
		transform: scale(1);
	}
}

@include keyframes(bumpLoader){
	from{
		max-width: 0rem;
	}
	to{
		max-width: 2rem;
	}
}
@include keyframes(fadeIt){
	from{
		opacity: 0.2;
	}
	to{
		opacity: 1;
	}
}

@include keyframes(slideBackground){
	0%{
		background-position: 100% 960px;
	}
	100%{
		background-position: 0 0;
	}
}

@include keyframes(quickviewRing1){
	0%{
		transform: translate(-50%,-50%) scale(0.66); opacity: 0.22;
	}
	50%{
		transform: translate(-50%,-50%) scale(1); opacity: 0.66;
	}
	100%{
		transform: translate(-50%,-50%) scale(0.66); opacity: 0.22;
	}
}
@include keyframes(quickviewButtonRing1){
	0%{
		transform: translate(-50%,-50%) scale(0.55);
	}
	50%{
		transform: translate(-50%,-50%) scale(1);
	}
	100%{
		transform: translate(-50%,-50%) scale(0.55);
	}
}

@include keyframes(quickviewHoverRing1){
	from{
		transform: translate(-50%,-50%) scale(0.66); opacity: 0.22;
	}
	to{
		transform: translate(-50%,-50%) scale(1); opacity: 0.66;
	}
}
@include keyframes(quickviewRing2){
	0%{
		transform: translate(-50%,-50%) scale(0.5); opacity: 0.11;
	}
	50%{
		transform: translate(-50%,-50%) scale(1); opacity: 0.33;
	}
	100%{
		transform: translate(-50%,-50%) scale(0.5); opacity: 0.11;
	}
}
@include keyframes(quickviewButtonRing2){
	0%{
		transform: translate(-50%,-50%) scale(0.4);
	}
	50%{
		transform: translate(-50%,-50%) scale(1);
	}
	100%{
		transform: translate(-50%,-50%) scale(0.4);
	}
}
@include keyframes(quickviewHoverRing2){
	from{
		transform: translate(-50%,-50%) scale(0.5); opacity: 0.11;
	}
	to{
		transform: translate(-50%,-50%) scale(1); opacity: 0.33;
	}
}

@include keyframes(quickviewInfo){
	0%{
		transform: scale(0); max-width: 4.5rem;
	}
	50%{
		transform: scale(1.2); max-width: 4.5rem;
	}
	70%{
		transform: scale(1); max-width: 4.5rem;
	}
	100%{
		transform: scale(1); max-width: 20rem;
	}
}
@include keyframes(quickviewInfoText){
	0%{
		opacity: 0; transform: translateX(-50%);
	}
	100%{
		opacity: 1; transform: translateX(0%);
	}
}

%bbb-bottomline-animation{
	position: relative;
	&:before{
		content: ""; width: 100%; height: 2px; position: absolute; bottom: 0.5rem; left: 0; opacity: 0; background-position: 50% 0; background-size: 300% 100%; animation: flowOut $transition $bezier; background-image: linear-gradient(to left, transparent 33.33%, color(Black) 33.33%, color(Black) 66.66%, transparent 66.66%); transition: background-position 0.3s;
	}
	&:hover{
		&:before{
			animation: flowIn $transition $bezier forwards;
		}
	}
}
