@mixin bg-color($bg-color){
	background-color: $bg-color; color: contra($bg-color); background-image: linear-gradient(to right, transparent 0%, transparent 25%, contra($bg-color) 25%, contra($bg-color) 50%, transparent 50%); background-size: 960px 100%; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	&:hover{
		animation: slideBackground 0.8s $bezier;
	}
}

%default-button{
	overflow: hidden; position: relative; display: inline-block; height: rem(60); padding: 0 rem(30); width: auto; line-height: rem(58); border-radius: rem(30); font-weight: 600; white-space: nowrap; font-size: rem(14); -webkit-transform-style: preserve-3d; letter-spacing: letter-spacing(1,-25); cursor: pointer; font-family: $bbb-main-font-family;
	@media #{$mobile}{
		height: rem(50); padding: 0 rem(25); line-height: 50px; border-radius: rem(25);
	}
}


%button{
	/* basic settings */
	@extend %default-button;
	&-dark{
		@extend %default-button;
		@include bg-color(color(Black));
		&-ghost{
			@extend %default-button; box-shadow: 0 0 0 2px color(Black) inset;
			@include bg-color(color(White)); background-color: transparent;
		}
		&-naked{
			@extend %default-button; @include bg-color(color(White)); background-color: transparent; box-shadow: none;
		}
	}
	&-light{
		@extend %default-button;
		@include bg-color(color(White));
		&-ghost{
			@extend %default-button; box-shadow: 0 0 0 2px color(White) inset;
			@include bg-color(color(Black)); background-color: transparent;
		}
		&-naked{
			@extend %default-button; @include bg-color(color(Black)); background-color: transparent; box-shadow: none;
		}
	}
}
