// Base Colors
$colors: (
	"Black": #1d1d1d,
	"White": #ffffff,
  "Darkblue": #212e63,
  "Grey": #4d4d4d,
  "Cyan": #1dafec,
  "ProcessBlue": #009ad7,
  "Lightgrey": #929496,
  "Weblightgrey": #eff3f6,
  "Webmidgrey": #dee5eb,
	"Green": #069e84,
	"Blue": #1eaece,
	"Red": #dd0000,
	"Orange": #e86d02,
	"Yellow": #ff961e,
  "Pink": #ea4c89,
  "Purple": #8b008b
);

@each $color-name, $color-value in $colors{
	%bg-#{$color-name}{
		background-color: $color-value;
	}
	%text-#{$color-name}{
		color: $color-value;
	}
}
