/*  Base values */
$bbb-font-size: 16; //
$bbb-font-path: "../fonts" !default; //
$bbb-line-height: 1.5; //
$bbb-letter-spacing: 50; //

/* grid */
$bbb-design-width: 1920; //
$bbb-grid-columns: 24; //

/*  Main values */
$border-radius: rem(3); //
$round-border-radius: 0.5rem; //
$border-round: 50%; //
$space: 20px; //


/*  Animation */
$transition-time: 0.2; //
$transition: #{$transition-time}s; //
$cubic-bezier: cubic-bezier(0.75,0.75,0.25,0.50); //
$bezier: $cubic-bezier;


%reset{
	-webkit-appearance: none; outline: none; box-sizing: border-box; -webkit-overflow-scrolling: touch; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; -webkit-backface-visibility: hidden;
}
