/*  Base values */
$base-font-size: 16; //
$base-line-height: 1.5; //
$base-letter-spacing: 50; //

/*  Main values */
$border-radius: rem(3); //
$round-border-radius: 0.5rem; //
$border-round: 50%; //
$space: 20px; //


/*  Animation */
$transition-time: 0.2; //
$transition: #{$transition-time}s; //
$cubic-bezier: cubic-bezier(0.75,0.75,0.25,0.50); //
$bezier: $cubic-bezier;
