%default-button-icon{
	padding-right: 100px;
}
%default-button-icon-after{
	font-family: $UI-font-family; display: inline-block; margin-left: 30px; font-size: rem(10);
}


@mixin extend-icons($use: null){
	@if $use == "button"{
		@extend %default-button-icon;
	}
	@each $icon-name, $icon-value in $UI-iconset{
		&-#{$icon-name}{
			@if $use == "button"{
				@extend %default-button-icon;
			}
			&:after{
				@if $use == "button"{
					@extend %default-button-icon-after;
				}
				content: icon($icon-name,$UI-iconset);
				@debug $icon-name;
			}
		}
	}
}


%icon{
	@include extend-icons();
}
%button-icon{
	content: "hoi";
	@include extend-icons("button");
}
