@import "icons/icons";

%default-button-icon{
	padding-right: rem(22) !important;
}
%default-button-icon-after{
	font-family: $UI-font-family; display: inline-block; margin-left: 15px; font-size: rem(16);
	@media #{$mobile}{
		margin-left: 25px;
	}
}


@mixin extend-icons($use: null){
	@if $use == "button"{
		@extend %default-button-icon;
	}
	@each $icon-name, $icon-value in $UI-iconset{
		&-#{$icon-name}{
			@if $use == "button"{
				@extend %default-button-icon;
			}
			&:after{
				@if $use == "button"{
					@extend %default-button-icon-after;
				}
				content: icon($icon-name,$UI-iconset);
			}

			// Specific for Arrow Right
			@if $icon-name == "arrow-right"{
				padding-right: rem(19) !important;
				&:after{
					margin-left: 40px; width: auto;
					@media #{$mobile}{
						margin-left: 25px;
					}
				}
				&:hover{
					&:after{
						animation: bumpRight 1.2s;
					}
				}
			}
		}
	}
}


%icon{
	@include extend-icons();
}
%button-icon{
	@include extend-icons("button");
}
