$mobile: "screen and (max-width: 750px)"; //
$tablet: "screen and (min-width: 751px) and (max-width: 1200px)"; //
$tablet-portrait: "screen and (min-width: 751px) and (max-width: 1000px)"; //
$tablet-landscape: "screen and (min-width: 800px) and (max-width: 1200px)"; //
$desktop: "screen and (min-width: 1000px)"; //
