%bbb-selector{
	position: absolute; left: 0; padding: grid(0.5); display: inline-block; width: auto; background-color: color(White); box-shadow: 0 0 20px 0 color(Black,0.25); top: 100%; max-height: 60vh; overflow: auto;
	&:before{
		content: ""; display: block; width: 0.5rem; height: 0.5rem; top: 0; left: 50%; position: absolute; transform: translate(-50%,-50%) rotate(45deg); background-color: color(White);
	}
	&.go-up{
		&:before{
			@include calc("top","100% + #{$grid-050}");
		}
	}
	&--item{
		border-bottom: 1px solid color(Weblightgrey); line-height: rem(40);
		&:last-child{
			border: none;
		}
		a{
			@extend %bbb-bottomline-animation;
			&:before{
				bottom: -0.25rem;
			}
		}
	}
}
@mixin activate-selector($el){
	&{
		position: relative;
	}
	&>#{$el}{
		opacity: 1;
	}
	&:hover>#{$el}{
		opacity: 1;
	}
}
