@import "../icons/all";

%default-button-icon{
	padding-right: rem(22) !important;
}
%default-button-icon-after{
	font-family: $UI-font-family; display: inline-block; margin-left: 15px; font-size: rem(16); line-height: 1rem;
	@media #{$mobile}{
		margin-left: 25px;
	}
}

@mixin extend-icons($use: null){
	@if $use == "button"{
		@extend %default-button-icon;
	}
	@each $icon-name, $icon-value in $UI-iconset{
		&-#{$icon-name}{
			@if $use == "button"{
				@extend %default-button-icon;
			}
			&:after{
				@if $use == "button"{
					@extend %default-button-icon-after;
				}
				content: icon($icon-name);
			}

			%icon-#{$icon-name}{
				content: icon($icon-name); font-family: $UI-font-family; text-transform: none;
			}

			// Specific for Arrow Right
			@if $icon-name == "arrow-right"{
				padding-right: rem(19) !important;
				&:after{
					margin-left: 40px; width: auto;
					@media #{$mobile}{
						margin-left: 25px;
					}
				}
				&:hover{
					&:after{
						animation: bumpRight 1.2s;
					}
				}
			}

			// Specific for Arrow Right
			@elseif $icon-name == "loading"{
				padding-right: 67px !important;
				&:after{
					text-align: left; overflow: hidden; font-size: 1.2rem; position: absolute; left: 100%; margin-left: -54px; width: 2rem; animation: bumpLoader 0.8s steps(4,end) 1s infinite; top: 50%; transform: translateY(-50%); height: 20px;
				}
			}
			@else{
				&:after{
					transform-origin: 50% 50%; transform: scale(1);
				}
				&:hover{
					&:after{
						animation: bumpIn 0.4s 1s default("bezier") forwards;
					}
				}
			}
		}
	}
}


%icon{
	@include extend-icons();
}
%button-icon{
	@include extend-icons("button");
}
