@function grid($v){
	$value: (100/$bbb-grid-columns)*$v;
	//convert px to vw bbb-d on design file
	@if unit($v) == "px"{
		$value: (strip-unit($v)*100)/strip-unit($grid-design-width);
	}
	//convert rem to vw bbb-d on design file
	@if unit($v) == "rem"{
		$value: ((strip-unit($v)*$bbb-font-size)*100)/strip-unit($bbb-design-width);
	}
	@return unquote("#{$value}vw");
}
