
@function calculateRem($size) {
  $remSize: $size / #{$bbb-font-size}px;
  @return $remSize * 1rem;
}

@function convert-to-rem($value, $bbb-value: $rem-base)  {
  $value: strip-unit($value) / strip-unit($bbb-value) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

@function rem-calc($values, $bbb-value: $bbb-font-size) {
	$max: length($values);
	@if $max == 1 {
		@return convert-to-rem(nth($values, 1), $bbb-value);
	}

	$remValues: ();

	@for $i from 1 through $max {
		$remValues: append($remValues, convert-to-rem(nth($values, $i), $bbb-value));
	}

	@return $remValues;
}
@function rem($value){
  $sizes: null;
  @if length($value) > 1{
    @each $size in $value{
      $sizes: $sizes #{rem-calc($size)};
    }
  } @else {
  	$sizes: rem-calc($value);
  }
	@return $sizes;
}
@function space($value){
  $sizes: null;
  @if length($value) > 1{
    @each $size in $value{
      $sizes: $sizes #{rem($size*$space)};
    }
  } @else {
  	$sizes: #{rem($value*$space)};
  }
	@return $sizes;
}

@function spc($value){
  $size: space($value);
  @return $size;
}
