// headers
%bbb-header-default{
	font-family: $bbb-main-font-family; text-align: left; font-weight: $font-bold; padding: 0; margin: 0;
	&.sub{
		font-weight: $font-light;
	}
}

$minus: 0.1066;
%bbb-h1{
	@extend %bbb-header-default; font-size: grid(0.75); line-height: grid((0.75 * 1.25)); font-weight: $font-bold; $spacing: (0.75 * $minus); letter-spacing: -#{$spacing}vw;
	@include min-fontsize(0.75,24){
		font-size: rem(24); line-height: rem(24 * 1.25); letter-spacing: letter-spacing(rem(24),-25);
	}
}
%bbb-h2{
	@extend %bbb-header-default; font-size: grid(0.75); line-height: grid((0.75 * 1.25)); font-weight: $font-bold; $spacing: (0.75 * $minus); letter-spacing: -#{$spacing}vw;
	@include min-fontsize(0.75,24){
		line-height: rem(24 * 1.25); letter-spacing: letter-spacing(rem(24),-25);
	}
}
%bbb-h3{
	@extend %bbb-header-default; font-size: grid(0.4); line-height: grid((0.4 * 1.25)); font-weight: $font-bold; $spacing: (0.4 * $minus); letter-spacing: -#{$spacing}vw;
	@include min-fontsize(0.4,20){
		line-height: rem(20 * 1.25); letter-spacing: letter-spacing(rem(20),-25);
	}
}
%bbb-h4{
	@extend %bbb-header-default; font-size: grid(0.3); line-height: grid((0.3 * 1.25)); font-weight: $font-bold; $spacing: (0.3 * $minus); letter-spacing: -#{$spacing}vw;
	@include min-fontsize(0.3,16){
		line-height: rem(16 * 1.25); letter-spacing: letter-spacing(rem(16),-25);
	}
}
%bbb-h5{
	@extend %bbb-header-default; font-size: rem(14); line-height: rem((14 * 1.25)); padding-left: grid(0.5); font-weight: $font-regular; letter-spacing: letter-spacing(rem(14),-25);
	@media #{$mobile}{
		padding-left: grid(1);
	}
}
%bbb-h6{
	@extend %bbb-header-default; font-size: rem(12); line-height: rem(12 * 1.25);
}
%bbb-h1-h5{
	font-size: rem(20); letter-spacing: letter-spacing(20); padding-left: 0; font-family: $bbb-price-font-family; text-transform: uppercase;
}




// make font styles

%bbb-bold{
	font-weight: $font-bold;
}
%bbb-small{
	font-size: smaller;
}
%bbb-del{
	text-decoration: line-through;
}
%bbb-ins{
	text-decoration: underline;
}
%bbb-sub{
	vertical-align: sub; font-size: smaller;
}
%bbb-sup{
	vertical-align: sup; font-size: smaller;
}

%bbb-p{
	margin: 0; padding: 0; font-size: rem(16); line-height: rem(32); font-family: $bbb-body-font-family; font-weight: 400;
	&.text-tiny{
		font-size: rem(12);
	}
	&.text-small{
		font-size: rem(14);
	}
	&.text-regular{
		font-size: rem(16);
	}
	&.text-large{
		font-size: rem(18);
	}
	&.text-xlarge{
		font-size: rem(24);
	}
}
