// headers
$ext-header-default: "%#{$pre}-header-default";
#{$ext-header-default}{
	$ext-font: "%#{$pre}-main-font-family";
	@extend #{$ext-font}; text-align: left; font-weight: $font-bold; padding: 0; margin: 0;
	&.sub{
		font-weight: $font-light;
	}
}

$minus: 0.1066;//
$ext-heading-h1: "%#{$pre}-h1";//
#{$ext-heading-h1}{
	@extend #{$ext-header-default}; font-size: grid(0.75); line-height: grid((0.75 * 1.25)); font-weight: $font-bold; $spacing: (0.75 * $minus); letter-spacing: -#{$spacing}vw;
	@include min-fontsize(0.75,24){
		font-size: rem(24); line-height: rem(24 * 1.25); letter-spacing: letter-spacing(rem(24),-25);
	}
}
/* EXTEND THIS */


.test-h1{
	@extend %bbb-h1;
}

/* END EXTEND THIS */


$ext-heading-h2: "%#{$pre}-h2";//
#{$ext-heading-h2}{
	@extend #{$ext-header-default}; font-size: grid(0.75); line-height: grid((0.75 * 1.25)); font-weight: $font-bold; $spacing: (0.75 * $minus); letter-spacing: -#{$spacing}vw;
	@include min-fontsize(0.75,24){
		line-height: rem(24 * 1.25); letter-spacing: letter-spacing(rem(24),-25);
	}
}
$ext-heading-h3: "%#{$pre}-h3";//
#{$ext-heading-h3}{
	@extend #{$ext-header-default}; font-size: grid(0.4); line-height: grid((0.4 * 1.25)); font-weight: $font-bold; $spacing: (0.4 * $minus); letter-spacing: -#{$spacing}vw;
	@include min-fontsize(0.4,20){
		line-height: rem(20 * 1.25); letter-spacing: letter-spacing(rem(20),-25);
	}
}
$ext-heading-h4: "%#{$pre}-h4";//
#{$ext-heading-h4}{
	@extend #{$ext-header-default}; font-size: grid(0.3); line-height: grid((0.3 * 1.25)); font-weight: $font-bold; $spacing: (0.3 * $minus); letter-spacing: -#{$spacing}vw;
	@include min-fontsize(0.3,16){
		line-height: rem(16 * 1.25); letter-spacing: letter-spacing(rem(16),-25);
	}
}
$ext-heading-h5: "%#{$pre}-h5";//
#{$ext-heading-h5}{
	@extend #{$ext-header-default}; font-size: rem(14); line-height: rem((14 * 1.25)); padding-left: grid(0.5); font-weight: $font-regular; letter-spacing: letter-spacing(rem(14),-25);
	@media #{$mobile}{
		padding-left: grid(1);
	}
}
$ext-heading-h6: "%#{$pre}-h6";//
#{$ext-heading-h6}{
	@extend #{$ext-header-default}; font-size: rem(12); line-height: rem(12 * 1.25);
}
$ext-heading-h1-h5: "%#{$pre}-h1-h5";//
#{$ext-heading-h1-h5}{
	font-size: rem(20); letter-spacing: letter-spacing(20); padding-left: 0; @extend #{$ext-price-font-family}; text-transform: uppercase;
}




// make font styles

$ext-font-regular: "%#{$pre}-font-regular";//
#{$ext-font-regular}{
	font-weight: $font-regular;
}
$ext-font-bold: "%#{$pre}-font-bold";//
#{$ext-font-bold}{
	font-weight: $font-bold;
}

$ext-font-small: "%#{$pre}-small";//
#{$ext-font-small}{
	font-size: smaller;
}
$ext-font-del: "%#{$pre}-del";//
#{$ext-font-del}{
	text-decoration: line-through;
}
$ext-font-ins: "%#{$pre}-ins";//
#{$ext-font-ins}{
	text-decoration: underline;
}
$ext-font-sub: "%#{$pre}-sub";//
#{$ext-font-sub}{
	vertical-align: sub; font-size: smaller;
}
$ext-font-sup: "%#{$pre}-sup";//
#{$ext-font-sup}{
	vertical-align: sup; font-size: smaller;
}

$ext-font-p: "%#{$pre}-p";//
#{$ext-font-p}{
	margin: 0; padding: 0; font-size: rem(16); line-height: rem(32); @extend #{$ext-body-font-family}; font-weight: 400;
	&.text-tiny{
		font-size: rem(12);
	}
	&.text-small{
		font-size: rem(14);
	}
	&.text-regular{
		font-size: rem(16);
	}
	&.text-large{
		font-size: rem(18);
	}
	&.text-xlarge{
		font-size: rem(24);
	}

	// Styling for link in P
}
$ext-font-link: "%#{$pre}-anchor";//
#{$ext-font-link}{
	position: relative; cursor: pointer; display: inline-block;
	&:before{
		background-color: color(Black);
	}
	@include bottom-line(color(White),1px,7px,true);
}
