h1{
	$ext: "%#{$pre}-h1";
	@extend #{$ext};
}
h2{
	$ext: "%#{$pre}-h2";
	@extend #{$ext};
}
h3{
	$ext: "%#{$pre}-h3";
	@extend #{$ext};
}
h4{
	$ext: "%#{$pre}-h4";
	@extend #{$ext};
}
h5{
	$ext: "%#{$pre}-h5";
	@extend #{$ext};
}
h6{
	$ext: "%#{$pre}-h6";
	@extend #{$ext};
}


// make font styles
.font-bold, strong{
	$ext: "%#{$pre}-font-bold";
	@extend #{$ext};
}
small{
	$ext: "%#{$pre}-small";
	@extend #{$ext};
}
del{
	$ext: "%#{$pre}-del";
	@extend #{$ext};
}
ins{
	$ext: "%#{$pre}-ins";
	@extend #{$ext};
}
sub{
	$ext: "%#{$pre}-sub";
	@extend #{$ext};
}
sup{
	$ext: "%#{$pre}-sup";
	@extend #{$ext};
}

p{
	$ext: "%#{$pre}-p";
	@extend #{$ext};
}
