$bbb-main-font-weights: (
	"Regular": 400,
	"Medium": 500,
	"SemiBold": 600
); //
//
$font-thin: map-get($bbb-main-font-weights,Medium); //
$font-light: map-get($bbb-main-font-weights,Medium); //
$font-regular: map-get($bbb-main-font-weights,Regular); //
$font-medium: map-get($bbb-main-font-weights,Medium); //
$font-semibold: map-get($bbb-main-font-weights,SemiBold); //
$font-bold: map-get($bbb-main-font-weights,SemiBold); //
$font-black: map-get($bbb-main-font-weights,SemiBold); //

// Base font
/*
	Use font-include for single fonts
	and font-list for a list using the $*-font-weights list
*/
$bbb-main-font: "Montserrat"; //
$bbb-main-font-name: "Montserrat-"; //
$bbb-main-font-family: #{$bbb-main-font},sans-serif; //
// include main font
@include font-list($bbb-main-font,$bbb-main-font-name,$bbb-main-font-weights,normal); //
//
$ext-main-font-family: "%#{$pre}-main-font-family";
#{$ext-main-font-family}{
	font-family: $bbb-main-font-family;
}
//
$bbb-body-font: "Avenir"; //
$bbb-body-font-name: "Avenir-Medium"; //
$bbb-body-font-family: #{$bbb-body-font},sans-serif; //
// include main font
//@include font-list($second-font,$second-font-name,$bbb-main-font-weights,normal);
@include font-include($bbb-body-font,$bbb-body-font-name,normal,normal);//
//
$ext-body-font-family: "%#{$pre}-body-font-family";
#{$ext-body-font-family}{
	font-family: $bbb-body-font-family; font-weight: normal;
}
//
$bbb-price-font: "RobotoCondensed-Regular"; //
$bbb-price-font-name: "RobotoCondensed-Regular"; //
$bbb-price-font-family: #{$bbb-price-font},sans-serif; //
// include main font
@include font-include($bbb-price-font,$bbb-price-font-name,normal,normal);

.bbb-price-font-family, %bbb-price-font-family{
	font-family: $bbb-price-font-family; text-transform: uppercase; letter-spacing: letter-spacing(1rem,-25);
}
$ext-price-font-family: "%#{$pre}-price-font-family";
#{$ext-price-font-family}{
	font-family: $bbb-price-font-family; font-weight: normal; text-transform: none;
}
